 
<div class="row bg-custom-brown"> <!--Headr Row-->
  <div class="col d-flex align-items-center justify-content-center">
    <img src="assets/مقمرة لوقو.png" alt="Resturant Logo" height="200" width="300">
  </div>
</div><!--Headr Row End-->
<div class="my-bg"> <!--Back ground color-->
<div class="container"> <!--Container-->
  <div class="row"><!--Serach Row-->
    <div class="col">
      <label for="prodname" class="p-2"><strong>البحث:</strong></label>
      <!--[(ngModel)]: once the model see any change will write it on the prodname -->
      <!--(keyup.enter): The "find" function will operate once the user click enter -->
      <input class="mt-2 mr-3"  type="text" id="prodname" [(ngModel)]="prodname" (keyup.enter)="find(prodname)" placeholder="اسم المنتج">   
    </div>
  </div><!--Serach Row End-->
    <div class="row mt-2"><!--Content Row-->
      <div class="col text-center"><!--Content Col-->
        <h1 class=" alert alert-warning bg-custom-brown text-brown"> <strong>قائمــة الطعــام</strong></h1>
        <div class="row bg-custom-brown">
          <div class="col text-white">
            <span class="p-2">إجمالي السعر</span> <span class="p-2">{{total}}</span>
          </div>
          <div class="col text-white">
            <span class="p-2">عدد الطلبات</span> <span class="p-2">{{qty}}</span>
          </div>
        </div>
      </div><!--Content Col End-->
    </div><!--Content Row End-->
    <div class="card d-flex align-items-center justify-content-center"><!--Card-->
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <td>رقم المنتج</td>
              <td>اسم المنتج</td>
              <td>سعر المنتج</td>
              <td>وصف المنتج</td>
              <td>صورة المنتج</td>
              <td>الخيارات</td>
            </tr>
          </thead>
          <tbody>
            <!--filteredFoodMenu: The menue of which the user serch if not item is chosen by the name all array iteams appear-->
            <tr *ngFor="let item of filteredFoodMenu"><!--Iterate through all items and display them-->
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.price}}</td>
              <td>{{item.description}}</td>
              <td><img [src]="item.img" height="100" width="100"></td><!--[src]=value-->
              <td><input type="checkbox" (change)="sum($event,item.price)"></td><!--Once the state change (checked, or unchecked) Invoke some and send the event occured-->
            </tr>
          </tbody>
        </table>
         </div>
    </div><!--Card End-->
  </div><!--Container End-->
</div> <!--Back ground color-->
